{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-md-6 col-centered">

                {{ macros.flash_messages("success") }}

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="custom-panel-header">Paramètres de profil</h3>
                    </div>
                    <div class="panel-body">
                        <p class="fm">Email enregistré : <strong>{{ user.email }}</strong></p>

                        <hr>

                        <p class="fm">Votre nom d'utilisateur : <strong>{{ user.username }}</strong>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                    data-target="#edit-username-modal">
                                Changer de nom d’utilisateur
                            </button>
                        </p>

                        <hr>

                        <p class="fm">Votre rôle actuel : <strong>{{ role }}</strong></p>

                        <form action="" method="POST" role="form">
                            {{ form.csrf_token }}

                            {% if user.role == 'jobseeker' %}
                                <!-- 
                                    <button type="submit" name="role" class="btn btn-primary btn-sm" value="volunteer">
                                    Changer rôle à Bénévole
                                </button>
                            -->
                            {% else %}
                                <button type="submit" name="role" class="btn btn-primary btn-sm" value="jobseeker">
                                    Changer rôle à Chercheur d’emploi
                                </button>
                            {% endif %}

                            <hr>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                    data-target="#myModal">
                                Avertissement de désactivation du compte
                            </button>

                            <!-- Modal Deactivate Account-->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h3 class="modal-title" id="myModalLabel">Désactiver l'avertissement de compte</h3>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous sûr de vouloir désactiver votre compte ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                            </button>
                                            <button type="submit" name="deactivate" class="btn btn-warning"
                                                    value="deactivate">
                                                Désactiver le compte
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Deactivate End -->

                            <!-- Modal Edit Username-->
                            <div class="modal fade" id="edit-username-modal" tabindex="-1" role="dialog"
                                 aria-labelledby="edit-username-modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h3 class="modal-title" id="myModalLabel">Modifier le nom d'utilisateur</h3>
                                        </div>
                                        <div class="modal-body">
                                            <p>Votre nom d’utilisateur: <strong>{{ user.username }}</strong></p>

                                            <div class="form-group">
                                                <label for="editusername">Entrez un nouveau nom d'utilisateur</label>
                                                {{ form.editusername(size=30, maxlength=50, type="text", class="form-control", placeholder="Entrez un nouveau nom d'utilisateur") }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                                Annuler
                                            </button>
                                            <button type="submit" class="btn btn-warning btn-sm">
                                                Enregistrer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Username End -->

                        </form>
                    </div>
                    <!--/panel-body-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
