{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-lg-9 col-centered">

                {{ macros.flash_messages("success") }}

                <div class="page-header">
                    <h3>{{ title }}

                        {% if resume and view %}
                            <a class="btn btn-primary btn-xs" href="/resume/{{ resume.id }}">Voir CV</a>
                        {% endif %}
                    </h3>
                </div>

                <form method="POST" action="" class="well form-horizontal row-border"
                      enctype="multipart/form-data" role="form">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">Titre du poste :</label>

                        <div class="col-md-8">
                            <input type="text" class="form-control" name="title" id="title"
                                   placeholder="Titre du poste"
                                   value="{{ resume.title }}"
                                   required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="content">Description du poste :</label>

                        <div class="col-md-8">
                            <textarea class="form-control" name="content"
                                      placeholder="Description du poste"
                                      id="content"
                                      required="required">{{ resume.content }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="file">Mettre en ligne un CV:</label>

                        <div class="col-md-8">
                            <input type="file" name="file" id="file"
                                   accept="text/plain,application/pdf,image/png,image/jpg"
                                   required="required">
                            <span class="help-block">Types de fichier autorisés : <strong>pdf, txt, jpg, png, jpeg</strong>, Taille du fichier maximum: 1Mo</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            <label for="anon">
                                {% if resume.anon %}
                                    <input type="checkbox" name="anon" id="anon"
                                           checked>
                                {% else %}
                                    <input type="checkbox" name="anon" id="anon">
                                {% endif %}
                                <span class="mls">Oui, j’ai anonymisé mon CV.</span>
                            </label>
                        </div>
                    </div>

                    <hr>
                    <div class="text-right">
                        <input type="submit" value="Envoyer CV" id="submitfile" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
