{% extends "base.html" %}

{% block main %}

    <!-- Body of the Webpage -->
    <div class="container">
        <div class="page-header">
            <h1><strong>À propos de nous :</strong></h1>
        </div>
        <h2><strong>Vue d’ensemble :</strong></h2>

        <p>
            <strong>Quoi :</strong> Le but de Review.me est d'établir des liens entre les lausannois pour augmenter l'employabilité et créer plus d'emplois !
        </p>

        <p>
            <strong>Raison d'être :</strong> Les chercheurs d'emploi de votre région ont réussi à obtenir des entretiens d'embauche, mais un bon nombre d'entre eux ne décrochent pas ces emplois et ne comprennent pas pourquoi. Vous avez exprimé le besoin d'entrer en contact avec des personnes qui sont en mesure de fournir du feedback honnête et constructif sur les entretiens et sur les CVs, ainsi qu’avec ceux qui sont prêts à partager qui embauche dans votre région.
        </p>

        <p>
            <strong>Recherche:</strong> RevueCV est géré par le Persuasive Technology Lab, un groupe de recherche interdisciplinaire de l'Université de Lausanne. En utilisant RevueCV, vous contribuez à une recherche plus large pour nous aider à comprendre comment construire de meilleurs outils pour soutenir le réseautage et la connexion entre divers groupes.
        </p>

        <p>
            <strong>Notre motivation :</strong> Nous sommes un groupe interdisciplinaire d'individus qui vivent pour concevoir et construire des technologies pour résoudre des problèmes du monde réel. Découvrez notre équipe et les derniers travaux sur <a
                href="https://wp.unil.ch/persuasivelab/" target="_blank">Persuasive Technology Lab</a>.
        </p>

        <h2><strong>Aidez-nous :</strong></h2>

        <p>
            <strong>Devenez un mentor:</strong> Si vous souhaitez faire du bénévolat et donner vos commentaires sur les entretiens et les CVs, inscrivez-vous sur notre page principale pour devenir un mentor. Nos chercheurs d'emploi sont particulièrement à la recherche de feedback de la part de personnes qui sont ou ont été employées et qui souhaitent partager leurs connaissances et leurs expériences.
        </p>

        <p>
            <strong>Sponsors:</strong> Ce travail est en partie sponsorisé par l'Université de Lausanne.
        </p><br>


        <div class="page-header">
            <h2><strong>À propos de RevueCV :</strong></h2>
        </div>
        <h3><strong>Navigateurs supportés:</strong></h3>
        <p>En général, RevueCV supporte les versions les plus récentes des navigateurs listés dans le tableau ci-dessous. RevueCV a été testé sur les versions les plus récentes de ces navigateurs. </p>
        <table class="table">
            <thead>
            <tr>
                <th>Navigateur</th>
                <th>Version</th>
                <th>Supporté</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Google Chrome</td>
                <td>Versions 43, 44</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>

            <tr>
                <td>Internet Explorer </td>
                <td>Versions 9, 10</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>

             <tr>
                <td>Firefox </td>
                <td>N/A</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            
            <tr>
                <td>Safari </td>
                <td>Versions 7, 8</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>

            </tbody>
        </table>
        <h3><strong>Appareils supportés :</strong></h3>
        <p>RevueCV a été conçu pour être un site web adaptatif et devrait bien fonctionner sur tous les appareils mobiles, y compris les tablettes.</p>
    </div>

{% endblock %}
