{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="page-header text-center">
            <h1>Préparation à l'emploi</h1>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://money.usnews.com/money/careers/slideshows/the-10-most-common-interview-questions">Interview
                               Préparation à l’entretien</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>Assurez-vous de vous préparer à toutes les entretiens à venir. La meilleure façon d'étudier est de préparer des réponses solides aux questions potentielles et de pratiquer vos réponses avec un ami ! Réfléchir aux questions et formuler les réponses à l'avance.  Référez-vous à cet <a target="_blank"
                                                                                             href="http://money.usnews.com/money/careers/slideshows/the-10-most-common-interview-questions">US
                                                                                             article d’US News : Money</a> article for a few of the most common interview questions.</p>
                    </div>
                </div>
            </div>

             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/18/what-to-cut-and-what-to-keep-on-your-resume">Resume
                               Conseils pour les CVs</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>Pour une liste de conseils sur les CVs, n’hésitez pas à consulter cer article <a target="_blank"
                                                                                  href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/18/what-to-cut-and-what-to-keep-on-your-resume">U.S.
                            News: Money article</a>.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/23/the-8-point-checklist-for-job-hunters">Top
                               Meilleurs conseils d’entretien</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>Comment se comporter lors d’un entretien
                        Visionnez une courte vidéo sur la façon de vous conduire lors d'un entretien par la Northern Arizona University .
                        </p>
                    </div>
                </div>
            </div>

             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://www.cbsnews.com/media/the-9-best-jobs-for-people-without-a-college-degree/2/">Top
                               Meilleurs emplois sans diplôme</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            Si vous n'avez pas de diplôme d'études universitaires et que vous n'êtes pas en mesure d'en obtenir un, consultez cette liste des principaux emplois ne nécessitant pas d'études universitaires selon CBS News. Tous ces emplois nécessiteront toutefois des compétences et une formation.
                        </p>
                    </div>
                </div>
            </div>

             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2><a target="_blank"
                               href="http://money.usnews.com/money/careers/slideshows/the-25-best-jobs-of-2015">Emplois à la mode</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>
                                Vous voulez retourner à l'école ? Consultez cet article du U.S. News pour une liste des 25 meilleurs emplois de l'année. Ces emplois ont été choisis en raison de la croissance prévue de l'emploi, du salaire et d'un équilibre entre le travail et la vie personnelle. Septante pour cent des dix premiers emplois sont liés à la santé et trente pour cent à la technologie.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
