{% extends "base.html" %}

{% block main %}

    <!-- Body of the Webpage -->
    <div class="container-custom">
        <div class="page-header text-center">
            <h1>Networking</h1>
        </div>
        <p>
                Pour obtenir douze conseils simples de networking, consultez cet article de <a
                href="http://www.salary.com/turbo-charge-your-job-search-with-12-easy-networking-tips/slide/2/"
                target="_blank">Salary.com</a>!
        </p>

        <p>
                Pour une liste des rencontres professionnelles dans la grande région de Lausanne, veuillez visiter <a
                href="https://www.meetup.com/fr-FR/cities/ch/lausanne/?country=ch&zipstatecity=lausanne&state=&radius=25"
                target="_blank">Meetup.com</a>.
        </p>

        <p>
            Plus à venir bientôt !
        </p>
    </div>

{% endblock %}
