<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="custom-footer small text-center">
                <a href="/aboutus">À propos de nous</a> &#149;
                <a href="/contactus">Contactez nous</a> &#149;
                <a href="http://unil.ch" target="_blank">Laboratoire PET - Université de Lausanne</a> &#149; &copy;

                <script language="JavaScript" type="text/javascript">
                    var currentDate = new Date()
                    var day = currentDate.getDate()
                    var month = currentDate.getMonth() + 1
                    var year = currentDate.getFullYear()
                    document.write(year + " &#149;" + " version 1.0 &#149; build 2016.22.04")
               </script>

        </div>
    </div>
</footer>
