{% extends "base.html" %}

{% block main %}

    <div class="container">
    <div class="row row-centered">

        <div class="page-header text-center">
            <h1>Préparez-vous pour un travail !</h1><br>

            <h3>Commencer par ici</h3>
        </div>

            <!--Job prep, feedback, networking glyphicons-->
            <div class="col-xs-12 col-lg-4 col-centered custom-center mbm mtm">
                <a href="/job_preparation">
                    <img src="{{ url_for('static', filename='img/job-preparation-icon.svg') }}">
                    <h4>Préparation à l'emploi</h4>
                    Parcourir les ressources de préparation d'emploi
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-centered custom-center mbm mtm">
                <a href="/feedback">
                    <img src="{{ url_for('static', filename='img/get-feedback-icon.svg') }}">
                    <h4>Recevoir une critique</h4>
                    Obtenir des commentaires sur le CV et l'interview
                </a>
            </div>
            <div class="col-xs-12 col-lg-4 col-centered custom-center mbm mtm">
                <a href="/networking">
                    <img src="{{ url_for('static', filename='img/networking-icon.svg') }}">
                    <h4>Networking</h4>
                    Trouvez des occasions de réseautage
                </a>
            </div>
        </div>
    </div>

{% endblock %}
