{% extends 'base.html' %}

{% block main %}

    <div class = "instruction">
      <center>
        <h2>Choisissez un CV dans la liste suivante et cliquez sur <b>Donner un feedback</b> pour entrer dans une page HIT</h2>
      </center>
    </div>

    <div class="container">
        <div class="row">

            {% for r in resume if r.user.active and current_user.id != r.user.id %}

                <div class="col-md-6 col-md-offset-3 panel panel-default">
                    <h4 class="panel-body text-center">
                        <p><a href="/resume/{{ r.id }}">
                            <small>(CV)</small>
                            {{ r.title }}</a></p>

                        <p><a href="/mturk/{{ r.id }}/create" class="btn btn-info btn-md">
                            donner feedback</a></p>
                    </h4>
                </div>

            {% else %}

                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-danger center-block" role="alert">
                        Aucun CV n'est disponible pour examen. Revenez plus tard, s'il vous plaît.
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
