{% import 'feedback/macros.html' as macros %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Aperçu des notes</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Note</th>
                <th>Évaluation</th>
            </tr>
            </thead>
            <tr>
                <th scope="row" class="text-info">
                    {{ macros.stars_static(1) }}
                </th>
                <td>A besoin de beaucoup d'améliorations                    </td>
            </tr>
            <tr>
                <th scope="row" class="text-info">
                    {{ macros.stars_static(2) }}
                <td>Pas mauvais, mais a besoin d'améliorations significatives
                    </td>
            </tr>
            <tr>
                <th scope="row" class="text-info">
                    {{ macros.stars_static(3) }}
                <td>Correct, mais a besoin d’améliorations
                    </td>
            </tr>
            <tr>
                <th scope="row" class="text-info">
                    {{ macros.stars_static(4) }}
                <td>Bien, mais a besoin de quelques améliorations
                    </td>
            </tr>
            <tr>
                <th scope="row" class="text-info">
                    {{ macros.stars_static(5) }}
                <td>Excellent et ne nécessite que peu ou pas d'amélioration
                    </td>
            </tr>
        </table>
    </div>
</div>

