<p>Nous avons reçu une demande de réactivation de compte pour votre compte RevueCV {{ user.email }}.</p>
<br>
<p>Si vous avez fait cette demande, utilisez le lien suivant : <a href="{{ url }}activate/{{ reset_link }}">activer</a></p>
<br>
<p>Ce lien fonctionnera pendant 2 heures ou jusqu'à ce que vous réactiviez votre compte.</p>
<br>
<p>Si vous n'avez pas demandé de réactiver votre compte, veuillez ignorer cet e-mail et aucun changement ne sera apporté à votre compte. Un autre utilisateur peut avoir entré votre nom d'utilisateur par erreur.</p>
<br>
<br>
<p>Université de Lausanne</p>
